body 
{
    background-color: lightblue;
}

h1 
{
    color: white;
    text-align: center;
}

p 
{
    font-family: verdana;
    font-size: 20px;
}

.mainDiv
{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.menuSub
{
    background-color: ;
    
}

#wrapper
{
    
}

#menu
{
    
}

#menuContent
{
    
}

#menuClick
{
    
}

/*

# Copy/paste bin

background-color: ;
height: ;
width: ;

*/
