body 
{
    //background-color: lightblue;
    
    border: 0;
    padding: 0;
    margin: 0;
}

h1 
{
    color: white;
    
    text-align: center;
}

p 
{
    font-family: verdana;
    font-size: 20px;
}

.mainDiv
{
    background-color: black;
    
    height: 100vh;
    width: 100vw;
    
    border: 0;
    padding: 0;
    margin: 0;
}

.menuSub
{
    background-color: green;
    
    height: 100vh;
    //width: 100vw;
    
    border: 0;
    padding: 0;
    margin: 0;
}

#wrapper
{
    z-index: 1;
}

#menu
{
    background-color: yellow;
    
    width: 10vw;
    z-index: 2;
    
    position: fixed;
}

#menuContent
{
    width: 0vw;
    z-index: 3;
    
    float: left;
}

#menuClick
{
    background-color: blue;
    
    width: 10vw;
    z-index: 3;
    
    float: right;
    
    opacity: 0.5;
}

/*

# Copy/paste bin

background-color: ;

height: ;
width: ;

border: 0;
padding: 0;
margin: 0;

opacity: ;

float: ;

z-index: ;

position: ;

*/
